.hero--airports {
	padding: 260px 0 200px;
}


.airports-near {
	text-align: center;
	padding: 80px 0;

	.col-lg-3 {
		line-height: 1;
		margin-bottom: 20px;
	}

	h2 {
		padding-bottom: 0;
		margin-bottom: 30px;
		padding-bottom: 12px;
	}

	svg {
		display: block;
		margin: 0 auto;
	}

	a {
		color: $c-yellow;
		font-size: 18px;
		font-weight: 700;
		line-height: 10px;
		margin-bottom: 30px;
	}

	.col-lg-3 {
		padding: 0 30px;
	}
}


.parking-locations {

	h2 {
		padding-bottom: 0;
		margin-bottom: 30px;
	}

	.parking-location {
		padding-bottom: 20px;
		margin-bottom: 20px;

		&--state {
			font-size: 21px;
			padding-bottom: 20px;
			margin-bottom:  10px;
			font-weight: 900;
			border-bottom: 1px solid #dedede;
		}

		&--name {
			font-size: 21px;
			font-weight: 900;
			color: $c-yellow;
			text-transform: capitalize;
			margin-bottom: 5px !important;
			padding-bottom: 0;
			transition: all .2s ease-in-out;

			&:hover {
				color: darken($c-yellow, 15);
				text-decoration: none;
			}
		}

		&--street,
		&--neighborhood,
		&--phone {
			font-size: 21px;
			text-transform: capitalize;
			color: #000;
			margin-bottom: 0;
		}
	}

	.parking-location:not(:last-of-type) {
		border-bottom: 1px solid #dedede;
	}
}






.airports-map {
	position: relative;
  width: 100%;
  height: 400px;

  #airports-map-canvas {
  	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}





